/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* ESTILOS BÁSICOS */

a, a:hover, a:focus, a:active, button {
    transition: .5s all ease;
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
}

/*INPUT CHECK*/
input[type|=check] {
display: inline-block;
width: auto;
}
label[for|=check] {
font-family: 'Raleway', Helvetica, Arial, sans-serif;
font-weight: normal;
display: inline-block;
}
/* INPUT NUMBER SIN FLECHAS */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

/* ESTILOS ESPECIALES */
body {
    color: #fff;
	background-image: url('../img/bg.png');
	background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.container {
    max-width: 480px;
    width: 100%;
}
.brand {
	background-image: url('../img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
    max-width: 480px;
	height: 160px;
	color: transparent;
}
nav {
    display: flex;
    align-items: center;
}
label {
    margin: 1em auto;
}
#select {
    background-color: transparent;
    color: #fff;
    border: none;
    box-shadow: none;
}
option {
	color: darkgrey;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*PHOTOBOOTH*/
.photo-box {
	min-height: 150px;
    border: 2px solid black;
    margin-top: 20px;
}
.photo-box img {
    width: 100%;
}
#photo-library img {
    width: 32.5%;
}
.form-group input {
    background-color: rgba(255,255,255,.2);
    border: none;
    box-shadow: none;
    color: #fff;
    padding: 1em;
    line-height: 1rem;
    height: initial;
    font-size: 1rem;
}
.btn-default {
    color: #fff;
    background-color: transparent;
    width: 100%;
    padding: 1em;
    font-weight: bold;
    border-color: rgba(255,255,255,.2);
}
.btn-default:hover {
	color: #fff;
    background-color: rgba(255,255,255,.2);
}
.top {
    margin: 3em 0 1em;
}
.bot {
    margin: 1em 0 3em;
}